<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mccreefei.zhihu.dao.ZhihuAnswerDao">
    <insert id="addZhihuAnswer" parameterType="cn.mccreefei.zhihu.model.ZhihuAnswer">
        insert into zhihu_answer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="characterUrl != null">
                character_url,
            </if>
            <if test="answerUrl != null">
                answer_url,
            </if>
            <if test="questionId != null">
                question_id,
            </if>
            <if test="questionTitle != null">
                question_title,
            </if>
            <if test="answerId != null">
                answer_id,
            </if>
            <if test="agrees != null">
                agrees,
            </if>
            <if test="comments != null">
                comments,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
        </trim>

        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="characterUrl != null">
                #{characterUrl},
            </if>
            <if test="answerUrl != null">
                #{answerUrl},
            </if>
            <if test="questionId != null">
                #{questionId},
            </if>
            <if test="questionTitle != null">
                #{questionTitle},
            </if>
            <if test="answerId != null">
                #{answerId},
            </if>
            <if test="agrees != null">
                #{agrees},
            </if>
            <if test="comments != null">
                #{comments},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="modifyTime != null">
                #{modifyTime},
            </if>
        </trim>

        ON DUPLICATE KEY UPDATE
        <trim suffixOverrides=",">
            <if test="questionTitle != null">
                question_title = #{questionTitle},
            </if>
            <if test="agrees != null">
                agrees = #{agrees},
            </if>
            <if test="comments != null">
                comments = #{comments},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime},
            </if>
        </trim>
    </insert>

    <select id="getZhihuAnswerUrlList" resultType="java.lang.String">
        select answer_url from zhihu_answer
    </select>

</mapper>
